@{
    ViewBag.Title = "About";
}

<div class="section-head">
    <p style="box-sizing: border-box; width: 1120px; text-align: justify; color: rgb(40, 37, 40); line-height: 1.8em; font-size: 17px; font-family: Roboto, sans-serif; margin: 0px auto !important;">
        &nbsp;
    </p>
    <p>
        <span style="font-size:14px;"><span style="color:#074a76;">For a business, moving their consignment across cities and states needs to be done efficiently, quickly, and at the best price possible. This task plays a prominent role in the success of their venture, and also in building a positive relationship with their clients, partners, and associates. To this end, we at QTrans are totally committed to helping you deliver your consignment across the length and breadth of the country in the most efficient manner and at competitive rates.</span></span>
    </p>
    <p>
        &nbsp;
    </p>
    <p>
        <span style="font-size:14px;"><span style="color:#074a76;">We are a company that offers <strong><a href="https://Qtrans.co.in/logistics-service" target="_blank">online </a><a href="https://QTrans.co.in/logistics-service">transportation and logistics services</a></strong>, catering to all your goods movement needs, both&nbsp;in&nbsp;full load and part load capacity. Through our online truck booking service, our customers can get trucks on demand by making an online booking. We offer a complete gamut of <strong><a href="https://QTrans.co.in/truck-booking-online" target="_blank">online truck booking</a></strong> services that are aimed at providing a comprehensive package of resources for a smooth and safe transportation of your consignment.</span></span>
    </p>
    <p>
        &nbsp;
    </p>
    <p>
        <span style="font-size:14px;"><span style="color:#074a76;">Our truck operators and co-loaders are verified and trained in the nitty-gritty of the logistics business, keeping in line with our motto of offering our clients trustworthy &amp; cost-efficient services.&nbsp;Capitalizing&nbsp;on our wealth of experience and knowledge in this industry, we strive to achieve the highest level of efficiency in the freight market.</span></span>
    </p>
    <p>
        &nbsp;
    </p>
    <p>
        <span style="font-size:14px;"><span style="color:#074a76;">We have a strong network of vehicles all over the region, and, deploying the latest technology helps us to seamlessly connect and communicate with our wide network of truck operators and co-loaders to provide you with the most reliable and effective trucking services. Our technology-enabled services also help our clients to track their goods real-time, connect with the driver at any time during transport, and carry out the required communication swiftly.</span></span>
    </p>
    <p>
        &nbsp;
    </p>
    <p>
        <span style="font-size:14px;"><span style="color:#074a76;">Our customer support service is ready to serve you with utmost loyalty, round-the-clock with any queries or difficulties you may have. Our commitment to achieving the highest level of customer satisfaction is partly made possible by our strict adherence to all the relevant regulatory standards. We also continuously strive to keep our prices competitive, so that our customers get the best deal in every aspect of our service since saving money is essential.</span></span>
    </p>
    <p>
        &nbsp;
    </p>
    <p>
        <span style="font-size:14px;"><span style="color:#074a76;">Now, you can forget all the hassles you experience with transportation of your important consignment and the related logistics. Get in touch with one of the most advanced and reliable <strong><a href="https://QTrans.co.in">online truck service providers</a></strong>, and experience for yourself how we live up to our motto of “Always On Time”.</span></span>
    </p>
    <p>
        &nbsp;
    </p>
</div>