<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SMSGateway" value="http://103.16.101.52:8080/sendsms/bulksms?username=lbt-techbrain1&amp;password=123456&amp;type=0&amp;dlr=1&amp;destination={0}&amp;source=UPLSTP&amp;message={1}"/>
  </appSettings >
</configuration>