<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="ApplicationName" value="Alert" />
    <!-- Value in minute-->
    <add key="ScheduleInterval" value="1"/>
    <add key="ServiceName" value="QTaransAlertService"/>
    <add key="ServiceDisplayName" value="QTarans Alert Service"/>
    <add key="ServiceDescription" value="QTarans Alert for SMS and mail"/>
  </appSettings>
</configuration>