@model IEnumerable<QTrans.Models.ViewModel.Bidding.PostingListBid>

@{
                ViewBag.Title = "ActivePost";
                Layout = "~/Views/Shared/_PrivateLayout.cshtml";
}
<link rel="stylesheet" type="text/css" href="~/Content/DataTables/css/jquery.dataTables.css">

<div class="card" style="border-style:none">
    <div class="card-header">
        <strong class="card-title">Active Posting</strong>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary list-panel" id="list-panel">
                <div class="panel-body">
                    <table id="ActivePost-data-table" class="table table-striped table-bordered" style="width:100%;"></table>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts
{
    <script type="text/javascript">
        var ActivePostListVM;
        $(function () {
            ActivePostListVM = {
                dt: null,

                init: function () {
                    dt = $('#ActivePost-data-table').DataTable({
                        "serverSide": true,
                        "processing": true,
                        "oLanguage": {
                            "sLengthMenu": "Page length: _MENU_",
                            "sSearch": "Filter:",
                            "sZeroRecords": "No records found"
                        },
                        "ajax": {
                            "url": "@Url.Action("GetActivePost", "Bidding")"
                        },                        
                        "columns": [
                            { "title": "From", "data": "From", "searchable": true },
                            { "title": "To", "data": "To", "searchable": true },
                            { "title": "Material", "data": "materialtype", "searchable": true },
                            { "title": "Package", "data": "packagetype", "searchable": true },
                            { "title": "Weight", "data": "materialweight" },
                            { "title": "Vehicle", "data": "vehicletype" },
                            { "title": "Pickup", "data": "pickupdatetime", "render": function (data) { return convertToDate(data); }},
                            { "title": "BidClose", "data": "biddingclosedatetime","render": function (data) { return convertToDate(data); }},
                           // { "title": "postamount", "data": "postamount" },
                            //{ "title": "DtlPostingId", "data": "DtlPostingId" },
                        ],
                       
                        "lengthMenu": [[10, 25, 50, 100], [10, 25, 50, 100]],
                    });
                }
            }
            // initialize the datatables
            ActivePostListVM.init();

        });

        //--------------------------------------------------------------------------------------------------
        // Call From:  columns..."render" for dateTime columns below.
        // Purpose  :  The Controller returned System.Web.Mvcreturn.Json(). That contained dates in format "/Date(1367218800000)/".
        //             Convert that to a "MM/DD/YYYY" Date(?)
        //-----------------------------------------------------------------------------------------------------
        function convertToDate(data) {
            // The 6th+ positions contain the number of milliseconds in Universal Coordinated Time between the specified date and midnight January 1, 1970.
            var dtStart = new Date(parseInt(data.substr(6)));
            return dtStart.toDateString("yyyy-mm-dd'T'HH:MM:ss");
        }
    </script>

}



